.footer__container {
    background-color: #e7e7e7;
    text-align: center;
    color: #000;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 170px;
}
